

@media only screen and (min-width: 800px) {
    .navbar{
        padding: 1rem 30rem 2rem 20rem;
    }
  }

  body {
    background-color: #2F3A8F;
  }

  p{
      font-size: 1rem;
  }

    h1{
        font-size: 2rem;
    }
  .profile{
      margin: 2rem;
      padding: 15VH;
      background-color: aliceblue;
      border-radius: 99rem;
      height: 50VH;
  }

  .profile-pic{
      border-radius: 999rem;
  }

  .courses {
      
      background-color: aliceblue;
      border-radius: 99rem;
      margin: 2rem;
        padding: 8vh;
        height: 50vh;
  }

.courses h1{
    text-align: center;
}

.projects {
    padding-top: 5rem;
}

.card-text{
    min-height: 12rem;
    padding: 2rem 0rem;
}

.education{
    padding: 0 10rem;
}
.about {
display: flex;
flex-direction: column;
justify-content: center;
}

.card-body{
    display: flex;
    flex-direction: column;
    
}

.card {
    box-shadow: 0.4rem .2rem 2rem #072227;
    border-radius: 1rem;
}
.card-img-top{
    border-radius: 1rem 1rem 0 0;
}